<!doctype html>
<html>
<title>
  <%= title %>
</title>
<link href="/client/ssrIndex.css" rel="stylesheet">
<link rel="icon" href="/client/favicon.ico" />
<script>
  window.REDUX_STATE = '<%= state %>'
</script>

<body>
  <div id="root"><%- content %></div>
  <script src="/client/ssrIndex.js"></script>
</body>

</html>